@import "../../shared/styles/commons.scss";

.pipe-list {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}