@import "../../shared/styles/commons.scss";

.card {
    padding: 1rem;
    background-color: lighten(gray, 38%);
    border-radius: 10%;
    text-align: center;
    min-width: 100px;
    max-width: 250px;
    height: 215px;

    &__top-info {
        display: flex;
        justify-content: space-between;
        height: 25px;
    }

    &__content{
        height: calc(100% - 65px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        margin: 0;
        font-size: 1rem;
        padding: 0.5rem 1rem 0;
    }

    &__count {
        color: $gray;
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    .btn__icon {
        width: 15px;
        height: 15px;
        opacity: 0;
    }

    .btn__icon:hover {
        opacity: 1;
    }

    &--blue {
        background-color: lighten($blue, 38%);
    }
    
    &--cyan {
        background-color: lighten($cyan, 38%);
    }
    
    &--gray {
        background-color: lighten($gray, 38%);
    }
    
    &--green {
        background-color: lighten($green, 38%);
    }
    
    &--orange {
        background-color: lighten($orange, 38%);
    }
    
    &--pink {
        background-color: lighten($pink, 38%);
    }
    
    &--purple {
        background-color: lighten($purple, 38%);
    }

}
